body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #fff;
  background: linear-gradient(to bottom, #4b0082, #1a0011);
}

header {
	padding: 20px;
}

h1, h2, h3, nav {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2em;
}

nav ul li{
	list-style: none;
	margin: 0
}
nav ul i a:hover {
  background-color: #555;
}
/* Responsive design */
@media only screen and (max-width: 768px) {
  header {
  padding: 10px;
  }
  h1 {
  font-size: 1.5em;
  }
  nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  }
  
  section {
  padding: 40px 20px;
  }
  
  section h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  }
  
  .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  }
  
  .gallery img {
  max-width: 100%;
  }
  
  .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .project {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 40px;
  }
  
  .project img {
  max-width: 100%;
  }
  
  .project h3 {
  margin-top: 10px;
  }
  
  footer {
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
  }
